body {
    background-color: antiquewhite;
}

header h1 {
    color: purple;
}

main {
    background-color: aqua;
}

main p {
    color: darkblue;
    background-color: yellow;
}

main span {
    background-color: red;
}

main ul {
    background-color: black;
}

main ul li {
    color: white;
}